Repository daos-stack/google-cloud-daos: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

DAOSGCP-153 Fixed link in predeployment guide.
  docs/pre-deployment_guide.md
Due: none

DAOSGCP-140 Configure 1 thread per vCPU (#82)
  terraform/examples/io500/client_files/run_io500-sc22.sh
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_server/main.tf
Due: terraform-readme

DAOSGCP-153 Fixed link in predeployment guide. (#83)
  docs/pre-deployment_guide.md
Due: none

DAOSGCP-165 Support for DAOS > v2.2.0 (#81)
  images/build.sh
  terraform/examples/io500/bin/_log.sh
  terraform/examples/io500/bin/start.sh
  terraform/examples/io500/bin/stop.sh
  terraform/examples/io500/client_files/run_io500-sc22.sh
  terraform/examples/io500/config/GCP-10C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-16C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-1C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-2C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-32C-10S16d-rf2.sh
  terraform/examples/io500/config/GCP-32C-8S16d-rf0.sh
  terraform/examples/io500/config/GCP-32C-9S16d-rf1.sh
  terraform/examples/io500/config/GCP-4C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-8C-2S16d-rf0.sh
  terraform/examples/io500/images/build_io500_images.sh
  terraform/modules/daos_server/templates/certs_install.inc.sh.tftpl
  terraform/modules/daos_server/templates/pool_cont_create.inc.sh.tftpl
Due: none

DAOSGCP-172 Change base image and tuned profile (#80)
  images/README.md
  images/ansible_playbooks/tune.yml
  images/build.sh
  images/daos.pkr.hcl
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/io500/README.md
  terraform/examples/io500/bin/_log.sh
  terraform/examples/io500/bin/start.sh
  terraform/examples/io500/config/GCP-10C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-16C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-1C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-2C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-32C-10S16d-rf2.sh
  terraform/examples/io500/config/GCP-32C-8S16d-rf0.sh
  terraform/examples/io500/config/GCP-32C-9S16d-rf1.sh
  terraform/examples/io500/config/GCP-4C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-8C-2S16d-rf0.sh
  terraform/examples/io500/images/README.md
  terraform/examples/io500/images/build.env
  terraform/examples/io500/images/build_io500_images.sh
  terraform/examples/io500/variables.tf
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/variables.tf
Due: terraform-readme, packer-readme

DAOSGCP-159 Update copyright year in comment headers (#79)
  .pre-commit-config.yaml
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/daos_cluster/versions.tf
  terraform/examples/io500/README.md
  terraform/examples/io500/bin/_log.sh
  terraform/examples/io500/bin/start.sh
  terraform/examples/io500/bin/stop.sh
  terraform/examples/io500/client_files/clean_storage.sh
  terraform/examples/io500/main.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/outputs.tf
  terraform/modules/daos_server/scripts/client_install.sh
  tools/autodoc/addlicense.sh
  tools/autodoc/cloudshell_urls.sh
Due: terraform-readme

DAOSGCP-178 Fixes for ansible changes in EPEL
  images/ansible_playbooks/tune.yml
  images/daos.pkr.hcl
Due: packer-readme

DAOSGCP-178 Fixes for ansible changes in EPEL (#85)
  images/ansible_playbooks/tune.yml
  images/daos.pkr.hcl
Due: packer-readme

DAOSGCP-189 Added security.md
  security.md
Due: none

DAOSGCP-189 Added security.md (#86)
  security.md
Due: none

DAOSGCP-190 Ensure realpath is not used on non-existent dirs
  terraform/examples/io500/bin/get_io500_result_data.sh
  terraform/examples/io500/bin/start.sh
  terraform/examples/io500/bin/stop.sh
Due: none

DAOSGCP-190 Ensure realpath is not used on non-existent dirs (#87)
  terraform/examples/io500/bin/get_io500_result_data.sh
  terraform/examples/io500/bin/start.sh
  terraform/examples/io500/bin/stop.sh
Due: none

DAOSGCP-216 Correction in images/README.md
  images/README.md
Due: none

DAOSGCP-216 Correction in images/README.md (#91)
  images/README.md
Due: none

DAOSGCP-183 Removed link to getting-started doc
  docs/pre-deployment_guide.md
Due: none

DAOSGCP-183 Removed link to getting-started doc (#92)
  docs/pre-deployment_guide.md
Due: none

DAOSGCP-182 Change provider versions
  terraform/examples/daos_cluster/versions.tf
  terraform/examples/io500/versions.tf
  terraform/modules/daos_client/versions.tf
  terraform/modules/daos_server/versions.tf
Due: terraform-readme

DAOSGCP-219 Change provider versions
  terraform/examples/daos_cluster/versions.tf
  terraform/examples/io500/versions.tf
  terraform/modules/daos_client/versions.tf
  terraform/modules/daos_server/versions.tf
Due: terraform-readme

DAOSGCP-219 Change provider versions (#94)
  terraform/examples/daos_cluster/versions.tf
  terraform/examples/io500/versions.tf
  terraform/modules/daos_client/versions.tf
  terraform/modules/daos_server/versions.tf
Due: terraform-readme

DAOSGCP-220 Do not set tier-ratio when pool.size = *%
  terraform/modules/daos_server/templates/pool_cont_create.inc.sh.tftpl
  terraform/modules/daos_server/templates/storage_format.inc.sh.tftpl
Due: none

DAOSGCP-220 Do not set tier-ratio when pool.size = *% (#95)
  terraform/modules/daos_server/templates/pool_cont_create.inc.sh.tftpl
  terraform/modules/daos_server/templates/storage_format.inc.sh.tftpl
Due: none

DAOSGCP-221 Add tag variables to examples
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/main.tf
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/daos_cluster/versions.tf
  terraform/examples/io500/README.md
  terraform/examples/io500/client_files/run_io500-sc23.sh
  terraform/examples/io500/variables.tf
  terraform/examples/io500/versions.tf
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

DAOSGCP-221 Add tag variables to examples (#96)
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/main.tf
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/daos_cluster/versions.tf
  terraform/examples/io500/README.md
  terraform/examples/io500/client_files/run_io500-sc23.sh
  terraform/examples/io500/variables.tf
  terraform/examples/io500/versions.tf
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

DAOSGCP-222 Remove variables that specify SCM size and hugepages
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/main.tf
  terraform/examples/daos_cluster/terraform.tfvars.perf.example
  terraform/examples/daos_cluster/terraform.tfvars.tco.example
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/io500/README.md
  terraform/examples/io500/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/templates/daos_server.yml.tftpl
  terraform/modules/daos_server/templates/pool_cont_create.inc.sh.tftpl
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

DAOSGCP-222 Remove variables that specify SCM size and hugepages (#97)
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/main.tf
  terraform/examples/daos_cluster/terraform.tfvars.perf.example
  terraform/examples/daos_cluster/terraform.tfvars.tco.example
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/io500/README.md
  terraform/examples/io500/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/templates/daos_server.yml.tftpl
  terraform/modules/daos_server/templates/pool_cont_create.inc.sh.tftpl
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

DAOSGCP-222-2 Remove SCM size variables from IO500 example
  terraform/examples/io500/bin/start.sh
  terraform/examples/io500/config/GCP-10C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-16C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-1C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-2C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-32C-10S16d-rf2.sh
  terraform/examples/io500/config/GCP-32C-8S16d-rf0.sh
  terraform/examples/io500/config/GCP-32C-9S16d-rf1.sh
  terraform/examples/io500/config/GCP-4C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-8C-2S16d-rf0.sh
  terraform/examples/io500/main.tf
  terraform/examples/io500/variables.tf
Due: terraform-readme

DAOSGCP-222-2 Remove SCM size variables from IO500 example (#98)
  terraform/examples/io500/bin/start.sh
  terraform/examples/io500/config/GCP-10C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-16C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-1C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-2C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-32C-10S16d-rf2.sh
  terraform/examples/io500/config/GCP-32C-8S16d-rf0.sh
  terraform/examples/io500/config/GCP-32C-9S16d-rf1.sh
  terraform/examples/io500/config/GCP-4C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-8C-2S16d-rf0.sh
  terraform/examples/io500/main.tf
  terraform/examples/io500/variables.tf
Due: terraform-readme

DAOSGCP-224 Updates required for HPC Toolkit hpc-slurm6-daos example
  terraform/modules/daos_server/scripts/client_install.sh
  terraform/modules/daos_server/templates/daos_agent.yml.tftpl
Due: none

DAOSGCP-224 Updates required for HPC Toolkit hpc-slurm6-daos example (#99)
  terraform/modules/daos_server/scripts/client_install.sh
  terraform/modules/daos_server/templates/daos_agent.yml.tftpl
Due: none

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$, but not: \.terraform\/.*$
  packer-readme: any of: ^.*\.pkr\.hcl$
