Repository daos-stack/google-cloud-daos: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.64.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
      - id: terraform_validate
  - repo: local
    hooks:
      - id: terraform-readme
        name: terraform-readme
        entry: tools/autodoc/terraform_docs.sh
        language: script
        types: ['terraform']
        exclude: \.terraform\/.*$
        pass_filenames: true
        require_serial: true
      - id: packer-readme
        name: packer-readme
        entry: tools/autodoc/terraform_docs.sh
        language: script
        files: ^.*\.pkr\.hcl$
        pass_filenames: true
        require_serial: true

Documentation updates
  docs/tutorials/example_daos_cluster.md
  docs/tutorials/pre-deployment.md
Due: none

Documentation update
  docs/tutorials/example_daos_cluster.md
Due: none

Remove personal copy of daos_cluster example
  terraform/examples/daos_cluster_maolson/README.md
  terraform/examples/daos_cluster_maolson/main.tf
  terraform/examples/daos_cluster_maolson/module.json
  terraform/examples/daos_cluster_maolson/terraform.tfvars.perf.example
  terraform/examples/daos_cluster_maolson/terraform.tfvars.tco.example
  terraform/examples/daos_cluster_maolson/variables.tf
  terraform/examples/daos_cluster_maolson/versions.tf
Due: terraform-readme

Changed env var for home dir
  docs/tutorials/example_daos_cluster.md
Due: none

Updated daos_cluster README.md
  terraform/examples/daos_cluster/README.md
Due: none

Updated cloudshell button URLs
  README.md
  terraform/examples/daos_cluster/README.md
  tools/autodoc/cloudshell_urls.sh
Due: none

DAOSGCP-115 Add depends_on for daos_ca secret
  terraform/modules/daos_server/main.tf
Due: terraform-readme

DAOSGCP-116 Updated README.md with Support Info
  README.md
Due: none

Updated README.md
  README.md
Due: none

DAOSGCP-124 Add support for worker pools Signed-off-by: D. Mokwa <damok@google.com>
  images/build_images.sh
  terraform/examples/io500/build_daos_io500_images.sh
Due: none

DAOSGCP-122 Add internal IP support in io500 Signed-off-by: D. Mokwa <damok@google.com>
  terraform/examples/io500/start.sh
Due: none

DAOSGCP-125 Add switch for use_iap in packer scripts Signed-off-by: Dariusz M <damok@google.com>
  images/build_images.sh
  images/daos-client-image.pkr.hcl
  images/daos-server-image.pkr.hcl
  images/packer_cloudbuild-client.yaml
  images/packer_cloudbuild-server.yaml
  terraform/examples/io500/build_daos_io500_images.sh
Due: packer-readme

Swap chmod/chown to fix wildcard expansion error
  images/daos-server-image.pkr.hcl
Due: packer-readme

Swap chmod/chown to fix wildcard expansion error (#57)
  images/daos-server-image.pkr.hcl
Due: packer-readme

Revert "Swap chmod/chown to fix wildcard expansion error (#57)"
  images/daos-server-image.pkr.hcl
Due: packer-readme

DAOSGCP-121 Fix doc header level
  terraform/examples/daos_cluster/README.md
Due: none

DAOSGCP-126 - Updates for DAOS v2.0.3
  images/daos_version.sh
  images/scripts/install_daos.sh
Due: none

Swap chmod/chown to fix wildcard expansion error (#61)
  images/daos-server-image.pkr.hcl
Due: packer-readme

DAOSGCP-126 - Updates for DAOS v2.0.3 (#60)
  images/daos_version.sh
  images/scripts/install_daos.sh
Due: none

GCP-124 Add two EC tests configuration files
  terraform/examples/io500/config/config.sh
  terraform/examples/io500/config/config_1c_1s_8d.sh
  terraform/examples/io500/config/config_2c_2s_16d.sh
  terraform/examples/io500/io500-isc22.config-template.daos-rf1.ini
  terraform/examples/io500/io500-isc22.config-template.daos-rf2.ini
  terraform/examples/io500/run_io500-isc22.sh
  terraform/examples/io500/start.sh
Due: none

GCP-124 Remove env DAOSGCP_TICKET
  terraform/examples/io500/run_io500-isc22.sh
Due: none

GCP-124 Added example config file to run DAOS EC
  terraform/examples/io500/config/C-32C-10S16d-NOGVNIC-rf2-1.sh
  terraform/examples/io500/config/C-32C-9S16d-NOGVNIC-rf1-1.sh
Due: none

GCP-124 renamed two config files for EC
  terraform/examples/io500/config/config_32c-10s16d-rf2-1.sh
  terraform/examples/io500/config/config_32c-9s16d-rf1-1.sh
Due: none

Updates to IO500 config files
  terraform/examples/io500/config/config_1c_1s_8d.sh
  terraform/examples/io500/config/config_2c_2s_16d.sh
  terraform/examples/io500/config/config_32c-10s16d-rf2-1.sh
  terraform/examples/io500/config/config_32c-9s16d-rf1-1.sh
  terraform/examples/io500/io500-isc22.config-template.daos-rf0.ini
  terraform/examples/io500/io500-isc22.config-template.daos-rf1.ini
  terraform/examples/io500/io500-isc22.config-template.daos-rf2.ini
Due: none

DAOSGCP-124 Update IO500 example with config files for DAOS with EC (#63)
  terraform/examples/io500/config/config_1c_1s_8d.sh
  terraform/examples/io500/config/config_2c_2s_16d.sh
  terraform/examples/io500/config/config_32c-10s16d-rf2-1.sh
  terraform/examples/io500/config/config_32c-9s16d-rf1-1.sh
  terraform/examples/io500/io500-isc22.config-template.daos-rf1.ini
  terraform/examples/io500/io500-isc22.config-template.daos-rf2.ini
  terraform/examples/io500/run_io500-isc22.sh
  terraform/examples/io500/start.sh
Due: none

DAOSGCP-119 Documentation updates
  README.md
  docs/pre-deployment.md
  terraform/examples/daos_cluster/terraform.tfvars.tco.example
Due: none

Documentation updates
  README.md
  docs/pre-deploy.md
Due: none

Documentation updates
  README.md
  docs/deploy_daos_cluster_example.md
  docs/pre-deploy.md
  docs/tutorials/example_daos_cluster.md
  docs/tutorials/pre-deployment.md
  terraform/examples/daos_cluster/README.md
Due: none

Documentation updates
  docs/pre-deploy.md
Due: none

Documentation updates
  README.md
Due: none

Documentation updates
  docs/deploy_daos_cluster_example.md
  terraform/examples/daos_cluster/terraform.tfvars.perf.example
  terraform/examples/daos_cluster/terraform.tfvars.tco.example
Due: none

Documentation updates
  README.md
  docs/deploy_daos_cluster_example.md
  docs/pre-deployment_guide.md
  images/README.md
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/terraform.tfvars.perf.example
  terraform/examples/io500/README.md
Due: none
