Repository daos-stack/google-cloud-daos: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

DAOS-9910 Remove the word OPTIONAL
  docs/development.md
Due: none

DAOS-9910 Removed duplicate README content
  docs/development.md
  terraform/examples/daos_client_mig/README.md
  terraform/examples/daos_client_mig/main.tf
  terraform/examples/daos_client_mig/module.json
  terraform/examples/daos_client_mig/variables.tf
  terraform/examples/daos_client_mig/versions.tf
  terraform/examples/full_cluster_setup/versions.tf
  terraform/examples/simple_daos_server_example/README.md
  terraform/examples/simple_daos_server_example/main.tf
  terraform/examples/simple_daos_server_example/module.json
  terraform/examples/simple_daos_server_example/variables.tf
  terraform/examples/simple_daos_server_example/versions.tf
  terraform/modules/daos_client/README.md
  terraform/modules/daos_server/README.md
Due: terraform-readme

DAOS-9910 Update to fix missing Setup section
  terraform/examples/daos_client_mig/README.md
Due: none

DAOS-9917 Auto configure server side YMLs
  images/configs/daos_agent.yml
  images/configs/daos_control.yml
  images/daos-server-image.json
  images/scripts/gcp_metadata.sh
  images/scripts/setup_server.sh
  terraform/examples/full_cluster_setup/main.tf
  terraform/examples/full_cluster_setup/variables.tf
  terraform/examples/io500/start.sh
  terraform/examples/simple_daos_server_example/main.tf
  terraform/examples/simple_daos_server_example/variables.tf
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_client/templates/daos_agent.yml.tftpl
  terraform/modules/daos_client/templates/daos_control.yml.tftpl
  terraform/modules/daos_client/templates/daos_startup_script.tftpl
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/outputs.tf
  terraform/modules/daos_server/templates/daos_agent.yml.tftpl
  terraform/modules/daos_server/templates/daos_control.yml.tftpl
  terraform/modules/daos_server/templates/daos_server.yml.tftpl
  terraform/modules/daos_server/templates/daos_startup_script.tftpl
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

DAOS-9917 Removed a comment that was not needed.
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

Update to the scripts
  terraform/examples/full_cluster_setup/main.tf
  terraform/examples/full_cluster_setup/terraform.tfvars.example
  terraform/examples/full_cluster_setup/variables.tf
  terraform/examples/io500/config/config.sh
  terraform/examples/io500/config/config_1c_1s_8d.sh
  terraform/examples/io500/config/config_2c_2s_16d.sh
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/templates/daos_startup_script.tftpl
Due: terraform-readme

DAOS-9917 Fix defaults in terraform variables
  terraform/examples/simple_daos_server_example/terraform.tfvars.example
  terraform/examples/simple_daos_server_example/variables.tf
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

DAOS-9917 Update examples after testing the defaults
  terraform/examples/daos_client_mig/main.tf
  terraform/examples/daos_client_mig/terraform.tfvars.example
  terraform/examples/daos_client_mig/variables.tf
  terraform/examples/full_cluster_setup/terraform.tfvars.example
  terraform/examples/simple_daos_server_example/terraform.tfvars.example
  terraform/modules/daos_server/templates/daos_server.yml.tftpl
Due: terraform-readme

DAOS-9911 Update documentation
  README.md
  terraform/README.md
  terraform/examples/README.md
  terraform/examples/full_cluster_setup/README.md
  terraform/examples/io500/README.md
Due: none

DAOSGCP-80 Add functionality to propagate SSH keys to all nodes
  terraform/examples/io500/start.sh
Due: none

Change pdsh to clush
  terraform/examples/io500/start.sh
Due: none

DAOSGCP-81 Fix the calculation of the pool size
  terraform/examples/io500/config/config.sh
  terraform/examples/io500/config/config_1c_1s_8d.sh
  terraform/examples/io500/config/config_2c_2s_16d.sh
Due: none

Changing defaults and default behaviors on server
  terraform/examples/simple_daos_server_example/README.md
  terraform/examples/simple_daos_server_example/main.tf
  terraform/examples/simple_daos_server_example/module.json
  terraform/examples/simple_daos_server_example/terraform.tfvars.example
  terraform/examples/simple_daos_server_example/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/module.json
  terraform/modules/daos_server/outputs.tf
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

Added a daos configuration script as an output.
  terraform/examples/simple_daos_server_example/README.md
  terraform/examples/simple_daos_server_example/main.tf
  terraform/examples/simple_daos_server_example/module.json
  terraform/examples/simple_daos_server_example/terraform.tfvars.example
  terraform/examples/simple_daos_server_example/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/module.json
  terraform/modules/daos_server/outputs.tf
  terraform/modules/daos_server/templates/configure_daos.tftpl
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

Adding daos_agent_yml and daos_control_yml outputs
  terraform/examples/simple_daos_server_example/README.md
  terraform/examples/simple_daos_server_example/module.json
  terraform/examples/simple_daos_server_example/terraform.tfvars.example
  terraform/examples/simple_daos_server_example/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/module.json
  terraform/modules/daos_server/outputs.tf
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

Making containers a list
  terraform/examples/simple_daos_server_example/README.md
  terraform/examples/simple_daos_server_example/module.json
  terraform/examples/simple_daos_server_example/terraform.tfvars.example
  terraform/examples/simple_daos_server_example/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/module.json
  terraform/modules/daos_server/templates/configure_daos.tftpl
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

DAOSGCP-75 Example and documentation updates
  README.md
  docs/development.md
  docs/tutorials/daosgcp_setup.md
  docs/tutorials/example_daos_cluster.md
  terraform/README.md
  terraform/examples/README.md
  terraform/examples/daos_client_mig/README.md
  terraform/examples/daos_client_mig/main.tf
  terraform/examples/daos_client_mig/terraform.tfvars.example
  terraform/examples/daos_client_mig/variables.tf
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/main.tf
  terraform/examples/daos_cluster/module.json
  terraform/examples/daos_cluster/terraform.tfvars.perf.example
  terraform/examples/daos_cluster/terraform.tfvars.tco.example
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/daos_cluster/versions.tf
  terraform/examples/full_cluster_setup/README.md
  terraform/examples/full_cluster_setup/main.tf
  terraform/examples/full_cluster_setup/terraform.tfvars.example
  terraform/examples/full_cluster_setup/variables.tf
  terraform/examples/only_daos_client/README.md
  terraform/examples/only_daos_client/main.tf
  terraform/examples/only_daos_client/module.json
  terraform/examples/only_daos_client/terraform.tfvars.example
  terraform/examples/only_daos_client/variables.tf
  terraform/examples/only_daos_client/versions.tf
  terraform/examples/only_daos_server/README.md
  terraform/examples/only_daos_server/main.tf
  terraform/examples/only_daos_server/module.json
  terraform/examples/only_daos_server/terraform.tfvars.perf.example
  terraform/examples/only_daos_server/terraform.tfvars.tco.example
  terraform/examples/only_daos_server/variables.tf
  terraform/examples/only_daos_server/versions.tf
  terraform/examples/simple_daos_server_example/README.md
  terraform/examples/simple_daos_server_example/main.tf
  terraform/examples/simple_daos_server_example/terraform.tfvars.example
  terraform/examples/simple_daos_server_example/variables.tf
  tools/autodoc/cloudshell_urls.sh
Due: terraform-readme

DAOSGCP-75 Set default DAOS version to 2.0
  images/daos_version.sh
Due: none

DAOSGCP-75 Update to command for building images
  docs/tutorials/daosgcp_setup.md
Due: none

DAOSGCP-75 Documentation update
  docs/tutorials/example_daos_cluster.md
Due: none

DAOSGCP-75 Updated variable values in terraform.tfvars.*.example files
  docs/tutorials/example_daos_cluster.md
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/terraform.tfvars.perf.example
  terraform/examples/daos_cluster/terraform.tfvars.tco.example
  terraform/examples/only_daos_client/terraform.tfvars.example
  terraform/examples/only_daos_server/terraform.tfvars.perf.example
  terraform/examples/only_daos_server/terraform.tfvars.tco.example
Due: none

DAOSGCP-75 Update cloud shell tutorial links
  README.md
  terraform/examples/daos_cluster/README.md
  terraform/examples/only_daos_client/README.md
  terraform/examples/only_daos_server/README.md
Due: none

DAOSGCP-91 Fix IO500 deployment
  terraform/examples/io500/README.md
  terraform/examples/io500/config/config.sh
  terraform/examples/io500/config/config_1c_1s_8d.sh
  terraform/examples/io500/config/config_2c_2s_16d.sh
  terraform/examples/io500/start.sh
  terraform/examples/io500/stop.sh
Due: none

DAOSGCP-92 Update IOR to version with fix for mdtest
  terraform/examples/io500/install_scripts/install_io500-sc21.sh
Due: none

Changing defaults and default behaviors
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/main.tf
  terraform/examples/daos_cluster/module.json
  terraform/examples/daos_cluster/terraform.tfvars.perf.example
  terraform/examples/daos_cluster/terraform.tfvars.tco.example
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/only_daos_client/README.md
  terraform/examples/only_daos_client/main.tf
  terraform/examples/only_daos_client/module.json
  terraform/examples/only_daos_client/variables.tf
  terraform/examples/only_daos_server/README.md
  terraform/examples/only_daos_server/main.tf
  terraform/examples/only_daos_server/module.json
  terraform/examples/only_daos_server/terraform.tfvars.perf.example
  terraform/examples/only_daos_server/terraform.tfvars.tco.example
  terraform/examples/only_daos_server/variables.tf
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_client/module.json
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/module.json
  terraform/modules/daos_server/outputs.tf
  terraform/modules/daos_server/templates/configure_daos.tftpl
  terraform/modules/daos_server/templates/daos_control.yml.tftpl
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

DAOSGCP-82 Updates to only_daos_client
  terraform/examples/only_daos_client/README.md
  terraform/examples/only_daos_client/terraform.tfvars.example
  terraform/examples/only_daos_client/variables.tf
  terraform/examples/only_daos_server/terraform.tfvars.perf.example
  terraform/examples/only_daos_server/terraform.tfvars.tco.example
Due: terraform-readme

DAOSGCP-94 Fix for io500_prepare.patch
  terraform/examples/io500/install_scripts/install_io500-sc21.sh
Due: none

DAOSGCP-86 Add support for advanced networking
  images/daos-client-image.json
  images/daos-client-image.pkr.hcl
  images/daos-server-image.json
  images/daos-server-image.pkr.hcl
  images/packer_cloudbuild-client.yaml
  images/packer_cloudbuild-server.yaml
  terraform/examples/daos_cluster/main.tf
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/io500/build_daos_io500_images.sh
  terraform/examples/io500/config/config.sh
  terraform/examples/io500/config/config_1c_1s_8d.sh
  terraform/examples/io500/config/config_2c_2s_16d.sh
  terraform/examples/io500/start.sh
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_client/versions.tf
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/variables.tf
  terraform/modules/daos_server/versions.tf
Due: terraform-readme, packer-readme

Pre-commit changes
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/module.json
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/module.json
  terraform/modules/daos_client/versions.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/module.json
  terraform/modules/daos_server/versions.tf
Due: terraform-readme

DAOSGCP-85 Add daos_client_install_script output to daos_server module
  terraform/examples/daos_cluster/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/module.json
  terraform/modules/daos_server/outputs.tf
  terraform/modules/daos_server/scripts/daos_client_install_script.sh
Due: terraform-readme

DAOSGCP-85 Fix epel-release check and download daos_packages.repo
  images/scripts/install_daos.sh
Due: none

DAOSGCP-88: Add client bits to the server
  images/scripts/install_daos.sh
Due: none

DAOSGCP-96 Add functionality to check GCP permission before adding them
  images/build_images.sh
Due: none

Update variable names
  images/build_images.sh
Due: none

DAOSGCP-100 Added pre-commit hook for addlicense
  .gitignore
  .pre-commit-config.yaml
  docs/development.md
  images/build_images.sh
  images/daos-client-image.pkr.hcl
  images/daos-server-image.pkr.hcl
  images/daos_version.sh
  images/scripts/install_daos.sh
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/main.tf
  terraform/examples/daos_cluster/module.json
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/daos_cluster/versions.tf
  terraform/examples/io500/build_daos_io500_images.sh
  terraform/examples/io500/clean_storage.sh
  terraform/examples/io500/config/config.sh
  terraform/examples/io500/config/config_1c_1s_8d.sh
  terraform/examples/io500/config/config_2c_2s_16d.sh
  terraform/examples/io500/configure_daos.sh
  terraform/examples/io500/install_scripts/install_devtools.sh
  terraform/examples/io500/install_scripts/install_intel-oneapi.sh
  terraform/examples/io500/install_scripts/install_io500-sc21.sh
  terraform/examples/io500/install_scripts/install_mpifileutils.sh
  terraform/examples/io500/run_io500-sc21.sh
  terraform/examples/io500/start.sh
  terraform/examples/io500/stop.sh
  terraform/examples/only_daos_client/README.md
  terraform/examples/only_daos_client/main.tf
  terraform/examples/only_daos_client/module.json
  terraform/examples/only_daos_client/versions.tf
  terraform/examples/only_daos_server/README.md
  terraform/examples/only_daos_server/main.tf
  terraform/examples/only_daos_server/module.json
  terraform/examples/only_daos_server/variables.tf
  terraform/examples/only_daos_server/versions.tf
  terraform/modules/daos_server/outputs.tf
  terraform/modules/daos_server/scripts/daos_client_install_script.sh
  tools/autodoc/addlicense.sh
  tools/autodoc/cloudshell_urls.sh
Due: terraform-readme, packer-readme

Only extract the addlicense binary from the tar.gz file
  tools/autodoc/addlicense.sh
Due: none

DAOSGCP-102 Changed packer scripts to use IAP with private IP
  images/build_images.sh
  images/daos-client-image.pkr.hcl
  images/daos-server-image.pkr.hcl
Due: packer-readme

Change env var for tunnelResourceAccessor check
  images/build_images.sh
Due: none

Fix issues
  terraform/examples/io500/install_scripts/install_intel-oneapi.sh
  terraform/examples/io500/run_io500-sc21.sh
  terraform/modules/daos_client/templates/daos_agent.yml.tftpl
  terraform/modules/daos_client/templates/daos_control.yml.tftpl
  terraform/modules/daos_client/templates/daos_startup_script.tftpl
  terraform/modules/daos_server/templates/daos_agent.yml.tftpl
  terraform/modules/daos_server/templates/daos_control.yml.tftpl
  terraform/modules/daos_server/templates/daos_server.yml.tftpl
  terraform/modules/daos_server/templates/daos_startup_script.tftpl
Due: none

DAOSGCP-99 Added support for using transport certs
  .gitignore
  docs/tutorials/daosgcp_setup.md
  images/daos-client-image.pkr.hcl
  images/daos-server-image.pkr.hcl
  images/scripts/cert_gen/SConscript
  images/scripts/cert_gen/admin.cnf
  images/scripts/cert_gen/agent.cnf
  images/scripts/cert_gen/ca.cnf
  images/scripts/cert_gen/gen_certificates.sh
  images/scripts/cert_gen/server.cnf
  images/scripts/cert_gen/sm_get_ca.sh
  images/scripts/cert_gen/sm_set_ca.sh
  images/scripts/cert_gen/test.cnf
  images/scripts/install_daos.sh
  terraform/examples/daos_cluster/main.tf
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/io500/start.sh
  terraform/examples/io500/stop.sh
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_client/templates/daos_agent.yml.tftpl
  terraform/modules/daos_client/templates/daos_control.yml.tftpl
  terraform/modules/daos_client/templates/daos_startup_script.tftpl
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/outputs.tf
  terraform/modules/daos_server/templates/daos_agent.yml.tftpl
  terraform/modules/daos_server/templates/daos_control.yml.tftpl
  terraform/modules/daos_server/templates/daos_server.yml.tftpl
  terraform/modules/daos_server/templates/daos_startup_script.tftpl
  terraform/modules/daos_server/variables.tf
Due: terraform-readme, packer-readme

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$, but not: \.terraform\/.*$
  packer-readme: any of: ^.*\.pkr\.hcl$
