Repository daos-stack/google-cloud-daos: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

DAOSGCP-99 Fix for cert permissions
  images/daos-server-image.pkr.hcl
  images/scripts/cert_gen/sm_get_ca.sh
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/main.tf
  terraform/examples/daos_cluster/module.json
  terraform/examples/daos_cluster/terraform.tfvars.perf.example
  terraform/examples/daos_cluster/terraform.tfvars.tco.example
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/io500/config/config.sh
  terraform/examples/io500/config/config_1c_1s_8d.sh
  terraform/examples/io500/config/config_2c_2s_16d.sh
  terraform/examples/io500/configure_daos.sh
  terraform/examples/io500/start.sh
  terraform/examples/only_daos_client/README.md
  terraform/examples/only_daos_client/main.tf
  terraform/examples/only_daos_client/module.json
  terraform/examples/only_daos_client/terraform.tfvars.example
  terraform/examples/only_daos_client/variables.tf
  terraform/examples/only_daos_server/README.md
  terraform/examples/only_daos_server/main.tf
  terraform/examples/only_daos_server/module.json
  terraform/examples/only_daos_server/variables.tf
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_client/module.json
  terraform/modules/daos_client/templates/daos_agent.yml.tftpl
  terraform/modules/daos_client/templates/daos_control.yml.tftpl
  terraform/modules/daos_client/templates/daos_startup_script.tftpl
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/module.json
  terraform/modules/daos_server/templates/daos_agent.yml.tftpl
  terraform/modules/daos_server/templates/daos_control.yml.tftpl
  terraform/modules/daos_server/templates/daos_server.yml.tftpl
  terraform/modules/daos_server/templates/daos_startup_script.tftpl
  terraform/modules/daos_server/variables.tf
Due: terraform-readme, packer-readme

Fixes
  docs/tutorials/daosgcp_setup.md
  terraform/modules/daos_server/templates/daos_startup_script.tftpl
Due: none

Parametrize SSH user
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/main.tf
  terraform/examples/daos_cluster/module.json
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/io500/config/config.sh
  terraform/examples/io500/config/config_1c_1s_8d.sh
  terraform/examples/io500/config/config_2c_2s_16d.sh
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_client/module.json
  terraform/modules/daos_client/templates/daos_startup_script.tftpl
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/module.json
  terraform/modules/daos_server/outputs.tf
  terraform/modules/daos_server/templates/daos_startup_script.tftpl
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

Improvements
  terraform/examples/io500/install_scripts/install_intel-oneapi.sh
  terraform/examples/io500/start.sh
Due: none

fix example
  terraform/examples/only_daos_client/terraform.tfvars.example
Due: none

Fix README and tutorial
  docs/tutorials/example_daos_cluster.md
  terraform/examples/daos_cluster/README.md
Due: none

DAOSGCP-103 Copy agent cert files on server instances
  images/scripts/cert_gen/sm_get_ca.sh
Due: none

Fix permissions on agent.* files
  images/scripts/cert_gen/sm_get_ca.sh
Due: none

Fixing minor image build issues.
  images/daos-client-image.pkr.hcl
  images/daos-server-image.pkr.hcl
Due: packer-readme

Fixing daos-client defaults.
  .tflint.hcl
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/module.json
  terraform/modules/daos_client/variables.tf
Due: terraform-readme

DAOSGCP-107 Moved cert scripts from image into terraform
  images/scripts/cert_gen/sm_get_ca.sh
  terraform/examples/daos_cluster/main.tf
  terraform/examples/only_daos_client/README.md
  terraform/examples/only_daos_client/main.tf
  terraform/examples/only_daos_client/module.json
  terraform/examples/only_daos_client/variables.tf
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_client/module.json
  terraform/modules/daos_client/templates/daos_startup_script.tftpl
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/module.json
  terraform/modules/daos_server/outputs.tf
  terraform/modules/daos_server/scripts/client_install.sh
  terraform/modules/daos_server/templates/certs_create.sh.tftpl
  terraform/modules/daos_server/templates/certs_install.sh.tftpl
  terraform/modules/daos_server/templates/daos_startup_script.tftpl
Due: terraform-readme

DAOSGCP-108 Pin intel-oneapi-mpi packages to specific version
  terraform/examples/io500/install_scripts/install_intel-oneapi.sh
Due: none

DAOSGCP-107 Fix ownership of agent certs on server instances
  terraform/modules/daos_server/templates/certs_install.sh.tftpl
Due: none

DAOSGCP-107 Fix issue with agent cert ownership
  terraform/modules/daos_server/templates/certs_install.sh.tftpl
  terraform/modules/daos_server/templates/daos_startup_script.tftpl
Due: none

DAOSGCP-107 Remove cert provisioners from packer templates
  images/daos-client-image.pkr.hcl
  images/daos-server-image.pkr.hcl
Due: packer-readme

DAOSGCP-107 Add /var/daos/cert_gen dir to server image
  images/daos-server-image.pkr.hcl
Due: packer-readme

DAOSGCP-107 Remove extra comma
  images/daos-server-image.pkr.hcl
Due: packer-readme

Fix for startup_script
  terraform/modules/daos_client/templates/daos_startup_script.tftpl
Due: none

Updated only_daos_client.tfvars.example
  terraform/examples/only_daos_client/terraform.tfvars.example
Due: none

Update to certs_install.sh.tftpl
  terraform/modules/daos_server/templates/certs_install.sh.tftpl
Due: none

DAOSGCP-109 Updated client configuration script for toolkit
  terraform/examples/daos_cluster/main.tf
  terraform/examples/daos_cluster/variables.tf
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_client/templates/daos_startup_script.tftpl
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/outputs.tf
  terraform/modules/daos_server/scripts/client_install.sh
  terraform/modules/daos_server/templates/certs_create.sh.tftpl
  terraform/modules/daos_server/templates/certs_gen.inc.sh.tftpl
  terraform/modules/daos_server/templates/certs_install.inc.sh.tftpl
  terraform/modules/daos_server/templates/client_config.sh.tftpl
  terraform/modules/daos_server/templates/configure_daos.tftpl
  terraform/modules/daos_server/templates/startup_script.tftpl
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

DAOSGCP-83 and DAOSGCP-84 Automatic format storage with pool and container creation that supports ACLs
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/io500/config/config.sh
  terraform/examples/only_daos_server/variables.tf
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/outputs.tf
  terraform/modules/daos_server/templates/pool_cont_create.tftpl
  terraform/modules/daos_server/templates/startup_script.tftpl
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

Update examples
  terraform/examples/daos_cluster/terraform.tfvars.perf.example
  terraform/examples/daos_cluster/terraform.tfvars.tco.example
  terraform/examples/only_daos_server/terraform.tfvars.perf.example
  terraform/examples/only_daos_server/terraform.tfvars.tco.example
Due: none

tflint + pre-commit check
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/module.json
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/only_daos_server/README.md
  terraform/examples/only_daos_server/module.json
  terraform/examples/only_daos_server/variables.tf
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_client/module.json
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/module.json
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

Updates to pool structure to allow for toolkit YAML mapping
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/module.json
  terraform/examples/daos_cluster/terraform.tfvars.perf.example
  terraform/examples/daos_cluster/terraform.tfvars.tco.example
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/only_daos_server/README.md
  terraform/examples/only_daos_server/module.json
  terraform/examples/only_daos_server/terraform.tfvars.perf.example
  terraform/examples/only_daos_server/terraform.tfvars.tco.example
  terraform/examples/only_daos_server/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/module.json
  terraform/modules/daos_server/templates/pool_cont_create.inc.sh.tftpl
  terraform/modules/daos_server/templates/pool_cont_create.tftpl
  terraform/modules/daos_server/templates/startup_script.tftpl
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

Changed map of strings to map of any in pool properties
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/io500/config/config.sh
  terraform/examples/io500/start.sh
  terraform/examples/only_daos_server/variables.tf
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

Move storage format functionality to separate file include
  terraform/examples/io500/config/config.sh
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/templates/pool_cont_create.inc.sh.tftpl
  terraform/modules/daos_server/templates/startup_script.tftpl
  terraform/modules/daos_server/templates/storage_format.inc.sh.tftpl
Due: terraform-readme

Change tier-ratio value to default 6
  terraform/examples/daos_cluster/terraform.tfvars.perf.example
  terraform/examples/daos_cluster/terraform.tfvars.tco.example
  terraform/examples/only_daos_server/terraform.tfvars.tco.example
Due: none

fixup! Change tier-ratio value to default 6
  terraform/examples/only_daos_server/terraform.tfvars.perf.example
Due: none

Apply pool properties at pool creation time
  terraform/modules/daos_server/templates/pool_cont_create.inc.sh.tftpl
Due: none

Add numa config to daos_agent.yml
  terraform/modules/daos_server/templates/daos_agent.yml.tftpl
Due: none

Simplify DAOS GCP Examples Enable daos_cluster to be used for all examples. Setting "client_number_of_instances = 0" allows just severs to be created.
  terraform/examples/only_daos_client/README.md
  terraform/examples/only_daos_client/main.tf
  terraform/examples/only_daos_client/module.json
  terraform/examples/only_daos_client/terraform.tfvars.example
  terraform/examples/only_daos_client/variables.tf
  terraform/examples/only_daos_client/versions.tf
  terraform/examples/only_daos_server/README.md
  terraform/examples/only_daos_server/main.tf
  terraform/examples/only_daos_server/module.json
  terraform/examples/only_daos_server/terraform.tfvars.perf.example
  terraform/examples/only_daos_server/terraform.tfvars.tco.example
  terraform/examples/only_daos_server/variables.tf
  terraform/examples/only_daos_server/versions.tf
  terraform/modules/daos_client/main.tf
Due: terraform-readme

DAOSGCP-106 Add io500-isc22 - scripts for installation and running test io500-isc22
  terraform/examples/io500/build_daos_io500_images.sh
  terraform/examples/io500/install_scripts/install_io500-isc22.sh
  terraform/examples/io500/io500-isc22.config-template.daos-rf0.ini
  terraform/examples/io500/run_io500-isc22.sh
  terraform/examples/io500/start.sh
Due: none

DAOSGCP-111 Remove unneeded Examples Enable daos_cluster to be used for all examples. Setting "client_number_of_instances = 0" allows just severs to be created.
  terraform/examples/only_daos_client/README.md
  terraform/examples/only_daos_client/main.tf
  terraform/examples/only_daos_client/module.json
  terraform/examples/only_daos_client/terraform.tfvars.example
  terraform/examples/only_daos_client/variables.tf
  terraform/examples/only_daos_client/versions.tf
  terraform/examples/only_daos_server/README.md
  terraform/examples/only_daos_server/main.tf
  terraform/examples/only_daos_server/module.json
  terraform/examples/only_daos_server/terraform.tfvars.perf.example
  terraform/examples/only_daos_server/terraform.tfvars.tco.example
  terraform/examples/only_daos_server/variables.tf
  terraform/examples/only_daos_server/versions.tf
  terraform/modules/daos_client/main.tf
Due: terraform-readme

DAOSGCP-111 cleanup 1
  terraform/examples/daos_cluster/terraform.tfvars.perf.example
  terraform/modules/daos_client/main.tf
Due: terraform-readme

DAOSGCP-83 Add option to set user and group for pool and container
  terraform/examples/daos_cluster/terraform.tfvars.perf.example
  terraform/examples/daos_cluster/terraform.tfvars.tco.example
  terraform/examples/daos_cluster/variables.tf
  terraform/modules/daos_server/templates/pool_cont_create.inc.sh.tftpl
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

Update start.sh
  terraform/examples/io500/start.sh
Due: none

DAOSGCP-114 Documentation updates
  README.md
  docs/tutorials/example_daos_cluster.md
  docs/tutorials/pre-deployment.md
  terraform/examples/README.md
  terraform/examples/daos_cluster_maolson/README.md
  terraform/examples/daos_cluster_maolson/main.tf
  terraform/examples/daos_cluster_maolson/module.json
  terraform/examples/daos_cluster_maolson/terraform.tfvars.perf.example
  terraform/examples/daos_cluster_maolson/terraform.tfvars.tco.example
  terraform/examples/daos_cluster_maolson/variables.tf
  terraform/examples/daos_cluster_maolson/versions.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/module.json
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

Documentation update
  docs/tutorials/pre-deployment.md
Due: none

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$, but not: \.terraform\/.*$
  packer-readme: any of: ^.*\.pkr\.hcl$
