Repository daos-stack/google-cloud-daos: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.64.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
      - id: terraform_validate
  - repo: local
    hooks:
      - id: terraform-readme
        name: terraform-readme
        entry: tools/autodoc/terraform_docs.sh
        language: script
        types: ['terraform']
        exclude: \.terraform\/.*$
        pass_filenames: true
        require_serial: true
      - id: packer-readme
        name: packer-readme
        entry: tools/autodoc/terraform_docs.sh
        language: script
        files: ^.*\.pkr\.hcl$
        pass_filenames: true
        require_serial: true

DAOSGCP-138 Update license in gen_certificates.sh
  images/scripts/cert_gen/gen_certificates.sh
Due: none

DAOSGCP-142 Update cloudshell tutorial URLs (#69)
  README.md
  terraform/examples/daos_cluster/README.md
Due: none

DAOSGCP-151 POC to deploy DAOS without the use of MIGs
  terraform/examples/io500/start.sh
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_server/main.tf
Due: terraform-readme

DAOSGCP-161 Fix setting the --region parameter
  images/build_images.sh
Due: none

Simplified images scripts
  images/README.md
  images/ansible_playbooks/daos.yml
  images/ansible_playbooks/tune.yml
  images/build.sh
  images/build_images.sh
  images/daos-client-image.pkr.hcl
  images/daos-server-image.pkr.hcl
  images/daos_image.pkr.hcl
  images/daos_version.sh
  images/packer_cloudbuild-server.yaml
  images/packer_cloudbuild.yaml
  images/scripts/install_daos.sh
  images/scripts/tune.sh
  terraform/examples/io500/build_daos_io500_images.sh
Due: packer-readme

Simplification of image scripts
  docs/pre-deployment_guide.md
  images/build.sh
Due: none

Added missing --help option
  images/build.sh
Due: none

Renamed daos_image.pkr.hcl to daos.pkr.hcl
  images/README.md
  images/build.sh
  images/daos.pkr.hcl
  images/packer_cloudbuild.yaml
Due: packer-readme

Restore terraform/examples/io500/build_daos_io500_images.sh file
  .gitignore
  terraform/examples/io500/build_daos_io500_images.sh
Due: none

DAOSGCP-160 Upgrade to Rocky 8
  images/README.md
  images/ansible_playbooks/daos.yml
  images/build.sh
  images/daos.pkr.hcl
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/io500/build_daos_io500_images.sh
  terraform/examples/io500/config/GCP-10C-4S16d-NOGVNIC-rf0.sh
  terraform/examples/io500/config/GCP-16C-4S16d-NOGVNIC-rf0.sh
  terraform/examples/io500/config/GCP-1C-1S8d-NOGVNIC-rf0.sh
  terraform/examples/io500/config/GCP-2C-1S8d-NOGVNIC-rf0.sh
  terraform/examples/io500/config/GCP-32C-10S16d-NOGVNIC-rf2.sh
  terraform/examples/io500/config/GCP-32C-8S16d-NOGVNIC-rf0.sh
  terraform/examples/io500/config/GCP-32C-9S16d-NOGVNIC-rf1.sh
  terraform/examples/io500/config/GCP-4C-1S8d-NOGVNIC-rf0.sh
  terraform/examples/io500/config/GCP-8C-2S16d-NOGVNIC-rf0.sh
  terraform/examples/io500/config/config.sh
  terraform/examples/io500/images/ansible_playbooks/io500.yml
  terraform/examples/io500/images/build.env
  terraform/examples/io500/images/build_io500_images.sh
  terraform/examples/io500/images/patches/Makefile.patch
  terraform/examples/io500/images/patches/prepare.sh.patch
  terraform/examples/io500/start.sh
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/variables.tf
Due: terraform-readme, packer-readme

DAOSGCP-160 Pre-Commit hook fixes
  images/ansible_playbooks/daos.yml
  images/ansible_playbooks/tune.yml
  images/build.sh
  images/daos.pkr.hcl
  terraform/examples/daos_cluster/README.md
  terraform/examples/io500/images/ansible_playbooks/io500.yml
  terraform/examples/io500/images/build_io500_images.sh
  terraform/modules/daos_server/README.md
Due: packer-readme

DAOSGCP-160 More updates for rocky 8
  .gitignore
  terraform/examples/io500/install_scripts/install_devtools.sh
  terraform/examples/io500/install_scripts/install_intel-oneapi.sh
  terraform/examples/io500/install_scripts/install_io500-sc22.sh
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/module.json
  terraform/modules/daos_client/variables.tf
Due: terraform-readme

DAOSGCP-151 Remove MIGs in Terraform modules
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/main.tf
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/io500/start.sh
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

DAOSGCP-151 Remove MIGs in Terraform modules (#77)
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/main.tf
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/io500/start.sh
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

Renamed daos_image.pkr.hcl to daos.pkr.hcl
  images/README.md
  images/build.sh
  images/daos.pkr.hcl
  images/daos_image.pkr.hcl
  images/packer_cloudbuild.yaml
Due: packer-readme

Simplification of image scripts
  images/build.sh
Due: none

Simplified images scripts
  images/README.md
  images/ansible_playbooks/daos.yml
  images/ansible_playbooks/tune.yml
  images/build.sh
  images/daos_image.pkr.hcl
  images/packer_cloudbuild.yaml
Due: packer-readme

Restore terraform/examples/io500/build_daos_io500_images.sh file
  terraform/examples/io500/build_daos_io500_images.sh
Due: none

DAOSGCP-160 Upgrade to Rocky 8
  images/README.md
  images/ansible_playbooks/daos.yml
  images/build.sh
  images/daos.pkr.hcl
  terraform/examples/daos_cluster/README.md
  terraform/examples/io500/build_daos_io500_images.sh
  terraform/examples/io500/images/ansible_playbooks/io500.yml
  terraform/examples/io500/images/build_io500_images.sh
  terraform/modules/daos_server/README.md
Due: packer-readme

DAOSGCP-163 Restart clients after clean
  terraform/examples/io500/client_files/clean_storage.sh
  terraform/examples/io500/client_files/run_io500-sc22.sh
Due: none

DAOSGCP-163 IO500 example refactor
  .gitignore
  terraform/examples/io500/README.md
  terraform/examples/io500/bin/_log.sh
  terraform/examples/io500/bin/get_io500_result_data.sh
  terraform/examples/io500/bin/start.sh
  terraform/examples/io500/bin/stop.sh
  terraform/examples/io500/client_files/clean_storage.sh
  terraform/examples/io500/client_files/io500-sc22.config-template.daos-rf0.ini
  terraform/examples/io500/client_files/io500-sc22.config-template.daos-rf1.ini
  terraform/examples/io500/client_files/io500-sc22.config-template.daos-rf2.ini
  terraform/examples/io500/client_files/run_io500-sc22.sh
  terraform/examples/io500/config/GCP-10C-4S16d-NOGVNIC-rf0.sh
  terraform/examples/io500/config/GCP-10C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-16C-4S16d-NOGVNIC-rf0.sh
  terraform/examples/io500/config/GCP-16C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-1C-1S8d-NOGVNIC-rf0.sh
  terraform/examples/io500/config/GCP-1C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-2C-1S8d-NOGVNIC-rf0.sh
  terraform/examples/io500/config/GCP-2C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-32C-10S16d-NOGVNIC-rf2.sh
  terraform/examples/io500/config/GCP-32C-10S16d-rf2.sh
  terraform/examples/io500/config/GCP-32C-8S16d-NOGVNIC-rf0.sh
  terraform/examples/io500/config/GCP-32C-8S16d-rf0.sh
  terraform/examples/io500/config/GCP-32C-9S16d-NOGVNIC-rf1.sh
  terraform/examples/io500/config/GCP-32C-9S16d-rf1.sh
  terraform/examples/io500/config/GCP-4C-1S8d-NOGVNIC-rf0.sh
  terraform/examples/io500/config/GCP-4C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-8C-2S16d-NOGVNIC-rf0.sh
  terraform/examples/io500/config/GCP-8C-2S16d-rf0.sh
  terraform/examples/io500/config/config.sh
  terraform/examples/io500/images/README.md
  terraform/examples/io500/images/build_io500_images.sh
  terraform/examples/io500/main.tf
  terraform/examples/io500/stop.sh
  terraform/examples/io500/variables.tf
  terraform/examples/io500/versions.tf
Due: terraform-readme

DAOSGCP-163 Minor update to variables
  terraform/examples/io500/bin/start.sh
  terraform/examples/io500/images/build.env
Due: none

DAOSGCP-163 Set default log level to INFO
  terraform/examples/io500/bin/start.sh
Due: none

DAOSGCP-163 Updated .gitignore
  .gitignore
Due: none

DAOSGCP-163 Removed references to MIGs
  docs/deploy_daos_cluster_example.md
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/io500/README.md
  terraform/examples/io500/variables.tf
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/variables.tf
Due: terraform-readme

DAOSGCP-159 Update copyright year in comment headers
  .pre-commit-config.yaml
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/daos_cluster/versions.tf
  terraform/examples/io500/README.md
  terraform/examples/io500/bin/_log.sh
  terraform/examples/io500/bin/start.sh
  terraform/examples/io500/bin/stop.sh
  terraform/examples/io500/client_files/clean_storage.sh
  terraform/examples/io500/main.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/outputs.tf
  terraform/modules/daos_server/scripts/client_install.sh
  tools/autodoc/addlicense.sh
  tools/autodoc/cloudshell_urls.sh
Due: terraform-readme

DAOSGCP-159 Update copyright year in comment headers (#79)
  .pre-commit-config.yaml
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/daos_cluster/versions.tf
  terraform/examples/io500/README.md
  terraform/examples/io500/bin/_log.sh
  terraform/examples/io500/bin/start.sh
  terraform/examples/io500/bin/stop.sh
  terraform/examples/io500/client_files/clean_storage.sh
  terraform/examples/io500/main.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/main.tf
  terraform/modules/daos_server/outputs.tf
  terraform/modules/daos_server/scripts/client_install.sh
  tools/autodoc/addlicense.sh
  tools/autodoc/cloudshell_urls.sh
Due: terraform-readme

DAOSGCP-172 Change base image and tuned profile
  images/README.md
  images/ansible_playbooks/tune.yml
  images/build.sh
  images/daos.pkr.hcl
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/io500/README.md
  terraform/examples/io500/bin/_log.sh
  terraform/examples/io500/bin/start.sh
  terraform/examples/io500/config/GCP-10C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-16C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-1C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-2C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-32C-10S16d-rf2.sh
  terraform/examples/io500/config/GCP-32C-8S16d-rf0.sh
  terraform/examples/io500/config/GCP-32C-9S16d-rf1.sh
  terraform/examples/io500/config/GCP-4C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-8C-2S16d-rf0.sh
  terraform/examples/io500/images/README.md
  terraform/examples/io500/images/build.env
  terraform/examples/io500/images/build_io500_images.sh
  terraform/examples/io500/variables.tf
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/variables.tf
Due: terraform-readme, packer-readme

DAOSGCP-172 Remove unnecessary boot parameters
  images/ansible_playbooks/tune.yml
Due: none

DAOSGCP-172 Added comments to examples in images/README.md
  images/README.md
Due: none

DAOSGCP-172 Change base image and tuned profile (#80)
  images/README.md
  images/ansible_playbooks/tune.yml
  images/build.sh
  images/daos.pkr.hcl
  terraform/examples/daos_cluster/README.md
  terraform/examples/daos_cluster/variables.tf
  terraform/examples/io500/README.md
  terraform/examples/io500/bin/_log.sh
  terraform/examples/io500/bin/start.sh
  terraform/examples/io500/config/GCP-10C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-16C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-1C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-2C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-32C-10S16d-rf2.sh
  terraform/examples/io500/config/GCP-32C-8S16d-rf0.sh
  terraform/examples/io500/config/GCP-32C-9S16d-rf1.sh
  terraform/examples/io500/config/GCP-4C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-8C-2S16d-rf0.sh
  terraform/examples/io500/images/README.md
  terraform/examples/io500/images/build.env
  terraform/examples/io500/images/build_io500_images.sh
  terraform/examples/io500/variables.tf
  terraform/modules/daos_client/README.md
  terraform/modules/daos_client/variables.tf
  terraform/modules/daos_server/README.md
  terraform/modules/daos_server/variables.tf
Due: terraform-readme, packer-readme

DAOSGCP-165 Support for DAOS > v2.2.0
  images/build.sh
  terraform/examples/io500/bin/_log.sh
  terraform/examples/io500/bin/start.sh
  terraform/examples/io500/bin/stop.sh
  terraform/examples/io500/client_files/run_io500-sc22.sh
  terraform/examples/io500/config/GCP-10C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-16C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-1C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-2C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-32C-10S16d-rf2.sh
  terraform/examples/io500/config/GCP-32C-8S16d-rf0.sh
  terraform/examples/io500/config/GCP-32C-9S16d-rf1.sh
  terraform/examples/io500/config/GCP-4C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-8C-2S16d-rf0.sh
  terraform/examples/io500/images/build_io500_images.sh
  terraform/modules/daos_server/templates/certs_install.inc.sh.tftpl
  terraform/modules/daos_server/templates/pool_cont_create.inc.sh.tftpl
Due: none

DAOSGCP-165 Support for DAOS > v2.2.0 (#81)
  images/build.sh
  terraform/examples/io500/bin/_log.sh
  terraform/examples/io500/bin/start.sh
  terraform/examples/io500/bin/stop.sh
  terraform/examples/io500/client_files/run_io500-sc22.sh
  terraform/examples/io500/config/GCP-10C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-16C-4S16d-rf0.sh
  terraform/examples/io500/config/GCP-1C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-2C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-32C-10S16d-rf2.sh
  terraform/examples/io500/config/GCP-32C-8S16d-rf0.sh
  terraform/examples/io500/config/GCP-32C-9S16d-rf1.sh
  terraform/examples/io500/config/GCP-4C-1S8d-rf0.sh
  terraform/examples/io500/config/GCP-8C-2S16d-rf0.sh
  terraform/examples/io500/images/build_io500_images.sh
  terraform/modules/daos_server/templates/certs_install.inc.sh.tftpl
  terraform/modules/daos_server/templates/pool_cont_create.inc.sh.tftpl
Due: none

DAOSGCP-140 Configure 1 thread per vCPU
  terraform/examples/io500/client_files/run_io500-sc22.sh
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_server/main.tf
Due: terraform-readme

DAOSGCP-140 Configure 1 thread per vCPU (#82)
  terraform/examples/io500/client_files/run_io500-sc22.sh
  terraform/modules/daos_client/main.tf
  terraform/modules/daos_server/main.tf
Due: terraform-readme
